<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="import" href="../bower_components/google-map/google-map-search.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/google-map/google-map-directions.html">
<link rel="import" href="../bower_components/paper-input-place/paper-input-place.html">



<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      google-map{
        height: 600px;
        }

        paper-input-place {
     width: 450px;
   }
   paper-input-place.make-it-green {
     --paper-input-container-underline: {
       border-bottom: 2px dotted lightgreen;
     }
     --paper-input-container-underline-focus: {
       border-bottom: 4px solid green;
     }
     --paper-input-container-label-focus: {
       font-style: italic;
       color: green;
       font-weight: bold;
     }
     --paper-input-container-label: {
       font-style: italic;
       color: lightgreen;
       font-weight: normal;
     }
       --paper-input-container-label-floating: {
       font-style: italic;
       color: darkgreen;
       font-weight: bold;
     }
     /* and a custom property also */
       paper-input-place {
         --paper-input-place-icon-mixin: {
           color: green;
     };
   }
    </style>


    <div class="card">
      <div class="circle">2</div>
      <h1>Alta Cliente</h1>
      <p>Tarjeta para generación de alta de cliente.</p>
      <form id=formu>
        <div class="form-row">
          <div class="form-group col-md-6" >
            <label for="inputIdCustomer">ID Customer</label>
            <input type="text" class="form-control" id="inputIdCustomer" disabled="true" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstname">First Name</label>
            <input type="text" class="form-control" id="inputFirstname" onblur="obtenerIdMax()" required="required" placeholder="Frist Name">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="inputlastName" required="required" placeholder="Last Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="email@dominio.com" required="required">
          </div>
          <div class="form-group col-md-6">
            <label for="inputphoneNumber">Phone</label>
            <input type="tel" class="form-control" id="inputphoneNumber" required="required" pattern="[0-9]{10}" placeholder="5512345678">
          </div>
        </div>
        <div class="form-group">
          <paper-input-place  id="inputAddress1" label="Pick place" api-key="AIzaSyCTuazTT4ftRrTOscHQYPabgJPLiBS9YXc" value="{{tourstop.place}}"></paper-input-place>
        </div>
<!--
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" required="required" placeholder="1234 Main St">
        </div>
-->
        </form>
        <div>
        <button on-click="cargarCliente" class="btn btn-info" >Cargar Cliente</button>
        </div>
        </div>

<!--
      <div>
       <google-map latitude="37.779"longitude="-122.3892" api-key="AIzaSyA-hGH02axIrjh-kNCo_KfzAHmJ_m1WA-Q" zoom="13" disable-default-ui> </google-map>
      </div>
    </div>
  -->

  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

    cargarCliente(){
     var idCustomer = parseInt(inputIdCustomer.value)
     var nombre = inputFirstname.value
     var lastName= inputlastName.value
     var email = inputEmail4.value
     var phoneNumber= inputphoneNumber.value
     //var adresses1 =inputAddress.value
     console.log(inputAddress1.value)
     var direc= JSON.parse(JSON.stringify(inputAddress1.value))
     console.log(direc.search);
     var adreeses=direc.search
     var lat=direc.latLng.lat
     var lng=direc.latLng.lng
     console.log(lat);
     var request = new XMLHttpRequest();
     request.open("POST", "http://localhost:3002/altacliente", false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json");
     var nuevoCliente = {"idCustomer":idCustomer,
                          "firstName":nombre,
                           "lastName":lastName,
                           "phoneNumber" : phoneNumber,
                           "email" : email,
                           "adressesDetails" : {
                               "adresses1" : adreeses,
                               "latitude":lat,
                               "longitude":lng
                           },
                           "contract" : [
                               {
                                   "account" : "00744134046739"+idCustomer+"T01",
                                   "openingDate" : "2018-08-01",
                                   "status" : "V",
                                   "cancelationDate" : "0001-01-01",
                                   "pehstampAccount" : "2018-08-01-13.39.11.276867"
                               }

                           ]
                       };
     var body = JSON.stringify(nuevoCliente);
     request.send(body);
      }

    }

    function obtenerIdMax(){
    var request = new XMLHttpRequest();
    request.open("GET","http://localhost:3002/maxid",false);
    request.send();
    this.clientes = JSON.parse(request.responseText);
    var id =parseInt(this.clientes[0].idCustomer)
    var incremento=id+1
    inputIdCustomer.value=id+1
    console.log(id);
    console.log(incremento);
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>


</dom-module>
