<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">3</div>
      <h1>Actualización y baja del cliente</h1>
      <p>Ingresa el Id Cliente para iniciar</p>
      <form id=formu>
        <div class="form-row">
          <div class="form-group col-md-6" >
            <label for="inputIdCustomer">ID Customer</label>
            <input type="text" class="form-control" id="inputIdCustomerMan" onblur= "loadData()"  required="required" placeholder="Id Customer" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstname">Frist Name</label>
            <input type="text" class="form-control" id="inputFirstnameMan" disabled="true" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="inputlastNameMan" disabled="true" placeholder="Last Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4Man" placeholder="email@dominio.com" required="required">
          </div>
          <div class="form-group col-md-6">
            <label for="inputphoneNumber">Phone</label>
            <input type="tel" class="form-control" id="inputphoneNumberMan" required="required" pattern="[0-9]{10}" placeholder="5512345678">
          </div>
        </div>
          <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" required="required"  disabled="true" placeholder="1234 Main St">
        </div>

      </form>
      <div>
        <button on-click="updateData" class="btn btn-info btn-sm" >Actualizar</button>
        <button on-click="deleteData" class="btn btn-info btn-sm" >Eliminar</button>
      <!--  <button on-click="findMe" class="btn btn-primary btn-lg" >Mostar ubicacion</button> -->
      </div>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }

         updateData(){
           var idCustomer = inputIdCustomerMan.value
           console.log(idCustomer)
           var email = inputEmail4Man.value
           var phoneNumber=inputphoneNumberMan.value
           var request = new XMLHttpRequest();
           request.open("PUT", "http://localhost:3002/actualiza/"+idCustomer+"", false);
           request.setRequestHeader("Accept", "application/json");
           request.setRequestHeader("Content-Type", "application/json");
           var updateCustomer ={"email":email,"phoneNumber":phoneNumber,}
           var body = JSON.stringify(updateCustomer);
           console.log(body);
           request.send(body);

      }
      deleteData(){
        var idCustomer = inputIdCustomerMan.value
        console.log(idCustomer)
        var requestFind = new XMLHttpRequest();
        requestFind.open("GET","http://localhost:3002/busca/"+idCustomer+"",false);
        requestFind.send();
        this.clientes = JSON.parse(requestFind.responseText);
        var idmongo=JSON.stringify(this.clientes[0]._id);
        console.log(idmongo);
        var res = idmongo.substring(9, 33);
        console.log(res);
        var requestDel = new XMLHttpRequest();
        requestDel.open("DELETE","http://localhost:3002/delete/"+res+"", false);
        requestDel.send();
   }


    }
    function loadData(){
      var x = inputIdCustomerMan
      var idc=parseInt(x.value)
      console.log(idc)
      var request1 = new XMLHttpRequest();
      request1.open("GET","http://localhost:3002/buscaId/"+idc+"",false);
      request1.send();
      this.clientes = JSON.parse(request1.responseText);
      console.log(this.clientes[0]._id)
      inputFirstnameMan.value =this.clientes[0].firstName
      inputlastNameMan.value =this.clientes[0].lastName
      console.log(this.clientes[0].lastName);
      inputEmail4Man.value=this.clientes[0].email
      inputphoneNumberMan.value=this.clientes[0].phoneNumber
      inputAddress.value=this.clientes[0].adressesDetails.adresses1
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>


</dom-module>
