<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Consulta clientes</h1>
      <p>Tarjeta de consulta datos básicos de clientes</p>
      <button on-click="obtenerClientes" class="btn btn-info">Obtener Clientes</button>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID Customer</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
          </tr>
        </thead>
              <tbody>
                <template is="dom-repeat" items="{{clientes}}">
                  <tr>
                    <td>
                      [[item.idCustomer]]
                    </td>
                    <td>
                      [[item.firstName]]
                    </td>
                    <td>
                      [[item.lastName]]
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
            </div>
      </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes(){
      var request = new XMLHttpRequest();
      request.open("GET","http://localhost:3002/movimientos",false);
      request.send();
      this.clientes = JSON.parse(request.responseText);
      console.log(this.clientes);
    }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
